# Library

In [54]:
import pandas as pd
import plotly.express as px

# Dataframe

In [5]:
df=pd.read_csv("C:\\Users\\Saravanan\\OneDrive\\Desktop\\Copper Modeling\\Copper_Set.xlsx - Result 1.csv")

C:\Users\Saravanan\AppData\Local\Temp\ipykernel_18684\1655487251.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("C:\\Users\\Saravanan\\OneDrive\\Desktop\\Copper Modeling\\Copper_Set.xlsx - Result 1.csv")

In [6]:
df

,id,item_date,quantity tons,customer,country,status,item type,application,thickness,width,material_ref,product_ref,delivery date,selling_price
0,EC06F063-9DF0-440C-8764-0B0C05A4F6AE,20210401.0,54.151139,30156308.0,28.0,Won,W,10.0,2.00,1500.0,DEQ1 S460MC,1670798778,20210701.0,854.00
1,4E5F4B3D-DDDF-499D-AFDE-A3227EC49425,20210401.0,768.024839,30202938.0,25.0,Won,W,41.0,0.80,1210.0,0000000000000000000000000000000000104991,1668701718,20210401.0,1047.00
2,E140FF1B-2407-4C02-A0DD-780A093B1158,20210401.0,386.127949,30153963.0,30.0,Won,WI,28.0,0.38,952.0,S0380700,628377,20210101.0,644.33
3,F8D507A0-9C62-4EFE-831E-33E1DA53BB50,20210401.0,202.411065,30349574.0,32.0,Won,S,59.0,2.30,1317.0,DX51D+ZM310MAO 2.3X1317,1668701718,20210101.0,768.00
4,4E1C4E78-152B-430A-8094-ADD889C9D0AD,20210401.0,785.526262,30211560.0,28.0,Won,W,10.0,4.00,2000.0,2_S275JR+AR-CL1,640665,20210301.0,577.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181668,DE633116-D1DF-4846-982E-55EFC3658A76,20200702.0,102.4824216,30200854.0,25.0,Won,W,41.0,0.96,1220.0,0000000000000000000000000000000001000777,164141591,20200701.0,591.00
181669,A48374B1-E6DB-45F2-889A-1F9C27C099EB,20200702.0,208.0864686,30200854.0,25.0,Won,W,41.0,0.95,1500.0,0000000000000000000000000000000001000227,164141591,20200701.0,589.00
181670,91643238-5C7B-4237-9A5F-63AE3D35F320,20200702.0,4.235593568,30200854.0,25.0,Won,W,41.0,0.71,1250.0,0000000000000000000000000000000001004216,164141591,20200701.0,619.00
181671,7AFFD323-01D9-4E15-B80D-7D1B03498FC8,20200702.0,-2000,30200854.0,25.0,Won,W,41.0,0.85,1250.0,0000000000000000000000000000000001001149,164141591,20200701.0,601.00
181672,AD0CA853-AE3C-4B2F-9FBB-8B0B965F84BC,20200702.0,406.6865384,30200854.0,25.0,Won,W,41.0,0.71,1240.0,0000000000000000000000000000000001005439,164141591,20200701.0,607.00

# Data Understanding

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181673 entries, 0 to 181672
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             181671 non-null  object
 1   item_date      181672 non-null  float64
 2   quantity tons  181673 non-null  object
 3   customer       181672 non-null  float64
 4   country        181645 non-null  float64
 5   status         181671 non-null  object
 6   item type      181673 non-null  object
 7   application    181649 non-null  float64
 8   thickness      181672 non-null  float64
 9   width          181673 non-null  float64
 10  material_ref   103754 non-null  object
 11  product_ref    181673 non-null  int64
 12  delivery date  181672 non-null  float64
 13  selling_price  181672 non-null  float64
dtypes: float64(8), int64(1), object(5)
memory usage: 19.4+ MB

In [9]:
df.isnull().sum()

id                   2
item_date            1
quantity tons        0
customer             1
country             28
status               2
item type            0
application         24
thickness            1
width                0
material_ref     77919
product_ref          0
delivery date        1
selling_price        1
dtype: int64

In [14]:

df.drop(['id'], axis = 1, inplace=True)

In [15]:
df.isnull().sum()

item_date            1
quantity tons        0
customer             1
country             28
status               2
item type            0
application         24
thickness            1
width                0
material_ref     77919
product_ref          0
delivery date        1
selling_price        1
dtype: int64

In [17]:
df.columns

Index(['item_date', 'quantity tons', 'customer', 'country', 'status',
       'item type', 'application', 'thickness', 'width', 'material_ref',
       'product_ref', 'delivery date', 'selling_price'],
      dtype='object')

In [20]:
df.fillna(0, inplace=True)

In [21]:
df.isnull().sum()

item_date        0
quantity tons    0
customer         0
country          0
status           0
item type        0
application      0
thickness        0
width            0
material_ref     0
product_ref      0
delivery date    0
selling_price    0
dtype: int64

In [22]:
df.drop(columns=["material_ref"],inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181673 entries, 0 to 181672
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   item_date      181673 non-null  float64
 1   quantity tons  181673 non-null  object
 2   customer       181673 non-null  float64
 3   country        181673 non-null  float64
 4   status         181673 non-null  object
 5   item type      181673 non-null  object
 6   application    181673 non-null  float64
 7   thickness      181673 non-null  float64
 8   width          181673 non-null  float64
 9   product_ref    181673 non-null  int64
 10  delivery date  181673 non-null  float64
 11  selling_price  181673 non-null  float64
dtypes: float64(8), int64(1), object(3)
memory usage: 16.6+ MB

# Data Processing

## Item date

In [24]:
df['item_date'].unique()

array([20210401., 19950000., 20210331., 20210330., 20210329., 20210328.,
       20210327., 20210326., 20210325., 20210324., 20210323., 20210322.,
       20210319., 20210318., 20210317., 20210316., 20210315., 20210314.,
       20210313., 20210312., 20210311., 20210310., 20210309., 20210308.,
       20210307., 20210306., 20210305., 20210304., 20210303., 20210302.,
       20210301., 20210228., 20210227., 20210226., 20210225., 20210224.,
       20210223., 20210222., 20210221., 20210220., 20210219., 20210218.,
       20210217., 20210216., 20210215., 20210214., 20210213., 20210212.,
       20210211., 20210210., 20210209., 20210208., 20210207., 20210205.,
       20210204., 20210203., 20210202., 20210201., 20210131., 20210130.,
       20210129., 20210128., 20210127., 20210126., 20210125., 20210124.,
       20210122., 20210121., 20210120., 20210119., 20210118., 20210117.,
       20210116., 20210115., 20210114., 20210113., 20210112., 20210111.,
       20210110., 20210109., 20210108., 20210107., 20210106., 20210105.,
       20210104., 20210103., 20201231., 20201230., 20201229., 20201228.,
       20201227., 20201226., 20201224., 20201223., 20201222., 20201221.,
       20201219., 20201218., 20201217., 20201216., 20201215., 20201214.,
       20201213., 20201212., 20201211., 20201210., 20201209., 20201208.,
       20201207., 20201206., 20201205., 20201204., 20201203., 20201202.,
       20201201., 20201130., 20201129., 20201128., 20201127., 20201126.,
       20201125., 20201124., 20201123., 20201122., 20201120., 20201119.,
       20201118., 20201117., 20201116., 20201115., 20201114., 20201113.,
       20201112.,        0., 20201111., 20191919., 20201110., 20201109.,
       20201106., 20201105., 20201104., 20201103., 20201102., 20201101.,
       20201030., 20201029., 20201028., 20201027., 20201026., 20201025.,
       20201024., 20201023., 20201022., 20201021., 20201020., 20201019.,
       20201018., 20201016., 20201015., 20201014., 20201013., 20201012.,
       20201011., 20201009., 20201008., 20201007., 20201006., 20201005.,
       20201004., 20201002., 20201001., 20200930., 20200929., 20200928.,
       20200925., 20200924., 20200923., 20200922., 20200921., 20200920.,
       20200919., 20200918., 20200917., 20200916., 20200915., 20200914.,
       20200913., 20200911., 20200910., 20200909., 20200908., 20200907.,
       20200906., 20200905., 20200904., 20200903., 20200902., 20200901.,
       20200831., 20200829., 20200828., 20200827., 20200826., 20200825.,
       20200824., 20200822., 20200821., 20200820., 20200819., 20200818.,
       20200817., 20200815., 20200814., 20200813., 20200812., 20200811.,
       20200810., 20200809., 20200807., 20200806., 20200805., 20200804.,
       20200803., 20200802., 20200801., 20200731., 20200730., 20200729.,
       20200728., 20200727., 20200726., 20200724., 20200723., 20200722.,
       20200721., 20200720., 20200719., 20200718., 20200717., 20200716.,
       20200715., 20200714., 20200713., 20200712., 20200710., 20200709.,
       20200708., 20200707., 20200706., 20200705., 20200704., 20200703.,
       20200702.])

In [ ]:
df['item_date'].fillna(method='bfill', inplace=True)

In [27]:
df.drop(df[df['item_date'].isin([19950000.0, 20191919.0])].index, inplace=True)

In [ ]:
df['item_date'] = pd.to_datetime(df['item_date'], format='%Y%m%d')

In [30]:
df['item_date'] = pd.to_datetime(df['item_date'], format='%Y%m%d', errors='coerce')

In [31]:
df['item_date'].head()

0   2021-04-01
1   2021-04-01
2   2021-04-01
3   2021-04-01
4   2021-04-01
Name: item_date, dtype: datetime64[ns]

## quantity tons

In [55]:
df['quantity tons'].unique()

array([   54.15113862,   768.0248392 ,   386.1279489 , ...,
           4.23559357, -2000.        ,   406.6865384 ])

In [56]:
df.drop(df[df['quantity tons']=='e'].index, inplace=True)

In [57]:
df['quantity tons'] = df['quantity tons'].astype(float)

In [59]:
df['quantity tons'].head()

0     54.151139
1    768.024839
2    386.127949
3    202.411065
4    785.526262
Name: quantity tons, dtype: float64

In [60]:
df.drop(df[df['quantity tons'] >= 50000000.0].index, inplace=True)